/*Requirement 10*/
body {
    margin: 0;
    font: normal 75% Arial, Helvetica, sans-serif;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000000;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

#mainSearchCard {
    border-radius: 1rem;
    border-color: white;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(16px);
}

#bingBongSearchButton {
    margin-right: 2.5px;
    margin-bottom: 10px;
}

#timeButton {
    margin-left: 2.5px;
    margin-bottom: 10px;
}

/*Requirement 9*/
#searchResults {
    visibility: hidden;
}

/*Requirement 9*/
#time {
    visibility: hidden;
}

.btn {
    background-color: rgba(0, 0, 0, 0.3);
    border-color: white;
    text-align: center;
}

#query {
    margin-left: auto;
    margin-right: auto;
    display: block;
    background: rgba(0, 0, 0, 0.3);
    border-color: white;
    text-align: center;
}

.form-control::placeholder {
    color: white !important;
}

input:not(:placeholder-shown) {
    color: white !important;
    background-color: rgba(0, 0, 0, 0.3);
}

input[type=text]:focus {
    outline: 2px #761994;
}